*{margin: 0em;padding: 0em;box-sizing: border-box;}
body{background: linear-gradient(to top left, rgb(202, 71, 90), rgb(60, 127, 150));width: 100vw;height: 100vh;font-family:Georgia;}
                  /* -----------------------SECTION 1------------------------------ */

.sec1{width: 100vw;height: 30vh;}
.nav1{display: flex;align-items: center;justify-content: space-between;padding: 3em 6em;}
.nav1 h1{text-transform: capitalize;font-weight:bolder;font-size: rem;color: white;font-size: 2rem;}
span{color: red;}
.nav1 ul li{list-style-type: none;display: inline;padding: 1em;}
.nav1 ul li a{text-transform: capitalize;text-decoration: none;color: white;font-size: 1.05rem;}
.nav1 ul li a:hover{background-color: red;padding:.40em .80em;border-radius: 10px;outline: none;border: none;transition: .5s;font-weight: bolder;}
.nav1 .btn{text-transform: capitalize;text-decoration: none;color: white;background-color: red;padding: .40em .80em;border-radius: 10px;font-size: 1.05rem;}
nav .btn:hover{background-color: transparent;transition: .5s;font-weight: bolder;}

                   /* ---------------------SECTION 2-------------------------- */

.sec2{width: 100vw;height: 50vh;}
.div1{position:absolute;top: 50%;left: 50%;transform: translate(-50%,-50%); text-align: center;display:inline-block;}
.div1 h1{color: white;text-transform: uppercase;font-size: 5vmin;margin-bottom: .5rem;}
.div1 h2{color:red;text-transform: uppercase;font-size: 4vmin;margin-bottom: 1rem;}
.div1 .bbtn{text-transform: capitalize;text-decoration: none;color: white;background-color: red;padding: .40em .80em;border-radius: 10px;
font-size: 1.05rem;}
.div1 .bbtn:hover{background-color: transparent;transition: .5s;font-weight: bolder;}
