*{margin: 0em;padding: 0em;box-sizing: border-box;}
body{font-family: Georgia;}
span{color: red;}
                  /*----------------------------------section one ---------------------------- */
.sec0{width: 100vw;height: 100vh;background: linear-gradient(to right bottom, rgba(0, 0, 255, 0.486), rgba(255, 0, 0, 0.527));}
.sec1{width:100vw; height: 30vh;}
.sec1 nav{display: flex;align-items: center;justify-content: space-between;padding: 2em 8em;}
.sec1 h2{color: white;text-transform: capitalize;font-size: 7vmin;}
.sec1 li{display: inline;list-style-type: none;padding: 1em ;}
.sec1 ul li a{text-decoration: none;text-transform: capitalize;color: white;font-size: 1.05rem;}
.sec1 ul li a:hover{background-color:red;font-weight: 500;padding: .30em .60em;border-radius: 5px;}
.sec1 .a{text-decoration: none;text-transform: capitalize;color: white;font-size: 1.05rem;background-color: red;font-weight:bold;padding: .30em .60em;border-radius: 10px;}
.sec1 .a:hover{background: transparent;transition: .5s;}

                  /* ----------------------------section two---------------------------------- */

.sec2{width: 100vw;height: 70vh;position: relative;}
.div{position: absolute;top: 30%;left: 10%;transform: translate(-10%,-12%);}
.div h4{text-transform:lowercase;font-size: 1rem;color: white;}
.div h1{text-transform: capitalize;font-size: 7.5vmin;color: white;}
.div h3{text-transform:lowercase;font-size: 1rem;color: white;}
.div form{display:block;margin-top: .5em;}
.div form input{width: 70%;padding: .60em;border-radius: 20px;border: none;font-family: inherit;}
.div form button{width: 20%;margin-top: .8em;margin-left: 6em;border-radius: 5px;padding: .60em .40em;border: none;background-color: red;color: white;text-transform: capitalize;font-size: 1.05em;font-family: inherit;}
.div form button:hover{background-color: transparent;transition: .5s;}
.img {float: right;position: absolute;top: 5%;right: 25%;transform: translate(50%, -5%);border-radius: 30px;width: 35vw;
  height: 60vh;background-image: url("o.jpg");background-position: center;background-size: cover;}

                /* -------------------------------section three---------------------------------*/

.sec3{width: 100vw;height: 100vh;position: relative;background: linear-gradient(to left bottom,rgba(255, 0, 0, 0.493), rgba(0, 0, 255, 0.699));}
.img1{position: absolute;top: 5%;right: 45%;transform: translate(-20%, 5%);border-radius: 30px;width: 40vw;
height: 80vh;background-image: url("o.jpg");background-position: center;background-size: cover;}
.div1{position: absolute;top: 50%;left: 65%;transform: translate(-35%, -50%);}
.div1 h1{text-transform: capitalize;color: white;font-size: 7vmin;}
.div1 h4{text-transform: capitalize;color: white;font-size: 1.2rem;margin-top: .3em;}
.div1 p{text-transform:lowercase;color: white;font-size: 1.2rem;margin-top: .3em;text-align: justify;width: 45vw;}
.div1 button{width: 30%;margin-top: .3em;padding: .60em .40em;font-family: inherit;font-size:1.1em;color: white;background-color: red;border: none;border-radius: 5px;margin-top: 1em;}
.div1 button:hover{background-color: transparent;transition: .5s;}

                /* ---------------------------section four------------------------------------------ */

.sec4{width: 100vw;height: 75vh;background: linear-gradient(to right bottom, rgba(255, 0, 0, 0.493), rgba(0, 0, 255, 0.486));position:relative;}
.sec4 h1{text-align: center;text-transform: capitalize;color: white;font-size: 2.5em;padding-top:1em;}
.sec4 div .ddiv1{background-color: rgba(0, 0, 0, 0.377);padding: .50em;border-radius: 15px;position: absolute;top: 45%;left: 50%;transform: translate(46%, -20%);margin: 0em 1em;width: 50vmin;text-align: center;display: inline;}
.sec4 div h4{text-transform: capitalize; color: white;font-size: 1.2em;}
.sec4 div .ddiv1 p{text-align:left; text-transform: capitalize;font-size: 1em;color: white;margin: .80em;}
.sec4 div .ddiv1 a{text-decoration: none;text-transform: capitalize;color: white;font-size: 1em;background-color: red;border-radius: 10px;padding: .30em .80em;}
.sec4 div .ddiv1 a:hover{background-color: transparent;transition: .5s;}

.sec4 div .ddiv2{background-color: rgba(0, 0, 0, 0.377);padding: .50em;border-radius: 15px;position: absolute;top: 45%;right: 50%;transform: translate(-63%, -20%);margin: 0em 1em;width: 50vmin;text-align: center;display: inline;}
.sec4 div h4{text-transform: capitalize; color: white;font-size: 1.2em;}
.sec4 div .ddiv2 p{text-align:left; text-transform: capitalize;font-size: 1em;color: white;margin: 1em;}
.sec4 div .ddiv2 a{text-decoration: none;text-transform: capitalize;color: white;font-size: 1em;background-color: red;border-radius: 10px;padding: .30em .80em;}
.sec4 div .ddiv2 a:hover {background-color: transparent; transition: .5s;}

.sec4 div .ddiv3{background-color: rgba(0, 0, 0, 0.377);padding: .50em;border-radius: 15px;position: absolute;top: 45%;right: 50%;transform: translate(46%, -20%);margin: 0em 1em;width: 50vmin;text-align: center;display: inline;}
.sec4 div h4{text-transform: capitalize; color: white;font-size: 1.2em;}
.sec4 div .ddiv3 p{text-align:left; text-transform: capitalize;font-size: 1em;color: white;margin: .80em;}
.sec4 div .ddiv3 a{text-decoration: none;text-transform: capitalize;color: white;font-size: 1em;background-color: red;border-radius: 10px;padding: .30em .80em;}
.sec4 div .ddiv3 a:hover {background-color: transparent;transition: .5s;}

                  /* --------------------------section five---------------------------------------- */

.sec5{width: 100vw;height: 25vh;background: linear-gradient(to left bottom, rgba(255, 0, 0, 0.493), rgba(0, 0, 255, 0.486));position: relative;}
.sec5 div{text-align: center;position: relative;top: 30%;}
.sec5 div h1{text-transform: capitalize;color: white;font-size: 2em;margin-bottom: .50em;}
.sec5 div a{text-decoration: none;text-transform: capitalize;color: white;background-color: red;border-radius: 10px;padding: .30em .80em;}
.sec5 div a:hover {background-color: transparent;transition: .5s;}

                  /*---------------------------section six------------------------------------- ----*/

.sec6{width: 100vw;height: 25vh;background: linear-gradient(to right bottom, rgba(255, 0, 0, 0.493), rgba(0, 0, 255, 0.486));position: relative;}
.sec6 div{text-align: center;position: relative;top: 25%;}
.sec6 div h1{text-transform: capitalize;color: white;font-size: 1.5em;}
.sec6 div p{text-transform:capitalize;color: white;font-size: 1em;margin:.5em;}
.sec6 div a{text-decoration: none;text-transform: capitalize;background-color: red;border-radius: 10px;padding: .30em .80em;color: white;font-family: inherit;}
.sec6 div a:hover {background-color: transparent;transition: .5s;font-weight: bold;}






