*{margin: 0em;padding: 0em;box-sizing: border-box;}
body{background: linear-gradient(to left bottom,rgb(0, 0, 255),rgb(255, 0, 13));width: 100vw;font-family: Georgia;}
.span{color: red;}
/*------------------------------------sec1(nav)----------------------------------------------*/
.sec1{width: 100vw;height: 20vh;background-color: rgba(0, 0, 0, 0.600);}
.sec1>div>nav{display: flex;text-align: center;justify-content: space-between;padding:4% 8%;}
.sec1>div>nav>h1{text-transform: capitalize;color: white;letter-spacing: 1px;font-size: 2.5rem;}
.sec1>div>nav>ul>li{display: inline;list-style-type: none;padding: 1em;font-size: 1rem;}
.sec1>div>nav>ul>li>a{text-transform: capitalize;text-decoration: none; color: white;font-size: 1rem;}
.sec1>div>nav>ul>li>a:hover{background-color: red;border-radius: 10px;padding: 0.3em 0.9em;border: none;transition: 0.5s;}
.sec1>div>nav>a{text-decoration: none;text-transform: capitalize;color: white;border-radius:10px;}
.sec1>div>nav>a:hover{background-color: red;border-radius: 10px;padding: 0.2em 0.6em;border: none;transition: 0.5s;}
/*-------------------------------------sec1(nav)---------------------------------------------*/

/*-------------------------------------sec2(body)--------------------------------------------*/
.sec2{width: 100vw;height: 80vh;background-color: rgba(0, 0, 0, 0.700);}
.sec2>div{display: flex;align-items: center;justify-content:center;padding:4em 5em;}
.sec2>div>span>h5{text-transform:lowercase;color: white;font-size: 1.2rem;}
.sec2>div>span>h1{text-transform:capitalize;color: white;margin: 0.1em 0em;font-size: 3rem;}
.sec2>div>span>form>input{width: 40vw;margin: 0.8em 0em;padding: 0.5em;border-radius: 10px;border: none;font-size: 1rem;}
.sec2>div>span>a{text-decoration: none;text-transform: capitalize;color: white;background-color: red; border-radius: 8px;padding: 0.3em 0.6em;font-size: 1rem;}
.sec2>div>span>a:hover{background-color: transparent;transition: 0.5s;}
.sec2>div>.img{width: 25vw;height: 60vh; background-image: url("o.jpg");background-position: center;background-size: cover;border-radius: 25px;margin-left:10em}
/*-------------------------------------sec2(body)------------------------------------------------*/

/*-------------------------------------sec3(body)------------------------------------------------*/
.sec3{width: 100vw;height: 100vh;background-color: rgba(0, 0, 0, 0.800);}
.sec3>div>.sspan{margin:5em 0em 0em 5em;}
.sec3>div{display: flex;align-items: center;justify-content:center;padding: 0em 5em;}
.sec3>div>.imgg{width: 40vw;height: 70vh;background-image: url("o.jpg");background-position: center;background-size: cover;border-radius: 20px;margin:8em 0em 0em 0em;}
.sec3>div>span>h1{text-transform: capitalize;color: white;font-size: 3rem;}
.sec3>div>span>h3{text-transform: capitalize;color: white;margin: 0.1em 0em;font-size: 1.5em;}
.sec3>div>span>p{color: white;margin-bottom: 0.5em;width: 40vw;font-size: 1.1rem;}
.sec3>div>span>a{text-decoration: none;text-transform: capitalize;color: white;background-color: red;border-radius: 8px;padding: 0.3em 0.6em;}
/*----------------------------------------sec3(body)-------------------------------------------------*/

/*-----------------------------------------sec4(body)----------------------------------------------- */
.sec4{width: 100vw;height: 50vh;text-align: center;background-color: rgba(0, 0, 0, 0.900);padding: 1em;}
.sec4>div>.sspan{background-color:rgba(248, 241, 241, 0.062);border-radius: 10px;padding:1em;}
.sec4>.span_div{display: flex;align-items: center;justify-content:space-around;padding:2em;}
.sec4>h1{text-transform: capitalize;color: white;align-self: flex-start;font-size: 2.5rem;}
.sec4>div>span>h2{text-transform: capitalize;color: white;font-size: 2rem;}
.sec4>div>span>p{text-transform: capitalize;color: white;margin:0.5em;width: 20vw;text-align: justify;font-size: 1rem;}
.sec4>div>span>a{text-decoration: none;text-transform: capitalize;color: white;background-color: red;border-radius: 10px;padding: 0.3em 0.6em;font-size: 1rem;}
/*------------------------------------------sec4(body)--------------------------------------------------*/

/*-------------------------------------------sec5(footer)-----------------------------------------------*/
.sec5{width: 100vw;height: 25vh;background-color: rgba(0, 0, 0, 0.900)}
.sec5>div{display: flex;flex-direction:column;align-items: center;justify-content: center;padding: 4em;}
.sec5>div>h1{text-transform: capitalize;color: white;margin-bottom: 0.3em;font-size: 2rem;}
.sec5>div>a{text-decoration: none;text-transform: capitalize;color: white;background-color: red;border-radius: 10px;padding: 0.3em 0.6em;}
/*--------------------------------------------sec5(footer)-----------------------------------------------*/

/*---------------------------------------------sec6(footer)----------------------------------------------*/
.sec6{width: 100vw;height: 25vh;background-color: rgba(0, 0, 0, 0.900)}
.sec6>div{display: flex;flex-direction:column;align-items: center;justify-content: center;padding: 2em;}
.sec6>div>h1{text-transform: capitalize;color: white;font-size: 2rem;}
.sec6>div>p{text-transform: lowercase;color: white;margin: 0.4em 0em;font-size: 1rem;}
.sec6>div>a{text-decoration: none;text-transform: capitalize;color: white;background-color: red;border-radius: 10px;padding: 0.3em 0.6em;}