*{margin: 0;padding: 0;box-sizing: border-box;}
body{width: 100%;height: 100vh; font-family: Georgia;background-color:rgb(80, 166, 201)}
div nav{display: flex;align-items: center;justify-content: space-between;padding: 30px 10% 0px 10%;}
div nav h1{text-transform: capitalize;letter-spacing: 1px;font-size: 32px;color: white;}
span{color: red;}
ul li{display: inline-block; list-style-type: none;padding: 10px 10px;}
ul li a{color: white;text-decoration: none;text-transform: capitalize;font-size: 22px;}
ul li a:hover,.active
{background-color: red;border-radius: 10px;font-weight: bold;padding: 4px 8px;}
.btn{color: white;text-decoration: none;text-transform: capitalize;font-size: 22px;background-color: red; padding: 4px 10px;border-radius: 20px;outline: none;}
.btn:hover{font-weight: bold;transition: .4s;}
.body{align-items: center;justify-content: center;text-align: center;margin-top: 15%;}
.body h1{text-transform: uppercase;color:white;font-size: 45px;text-shadow: 0px 3px 1.5px red;}
.body h2{text-transform: uppercase;color:white;font-size: 25px;text-shadow: 0px 3px 1.5px red;}
.body .bbtn{text-transform: uppercase;
  color: white;
  font-size: 25px;
  background-color:red; border-radius: 20px;padding: 5px 10px;text-decoration: none;
  }
.body .bbtn:hover{font-weight: bold;transition: .4s;}